<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  

  <form action="/sendingData/fromTheParamsStuff?fromTheQuery=querystuff" method="POST">
    <legend>POST new stuff</legend>
    <input type="text" name="fromTheBody" value="from the body stuff">
  </form>

  <form action="/sendingData/fromTheParamsStuff?fromTheQuery=querystuff" method="POST">
    <legend>PUT update stuff</legend>
    <input type="text" name="fromTheBody" value="from the body stuff">
  </form>

  <form action="/sendingData/fromTheParamsStuff?fromTheQuery=querystuff" method="POST">
    <legend>DELETE delete stuff</legend>
    <input type="text" name="fromTheBody" value="from the body stuff">
  </form>
</body>
</html>